(ns {{top/ns}}.{{main/ns}}.back-end.modelo.pacientes
  (:require [com.wsscode.pathom3.connect.operation :as pco]
            [com.potetm.fusebox.timeout :as ft]
            [next.jdbc :as jdbc]
            [next.jdbc.result-set :as rs]
            [taoensso.telemere :as t]
            [tick.core :as tick])) 

(def timeout (ft/init {::ft/timeout-ms 3000}))
 
(pco/defresolver pacientes [_ _]
  {::pco/output [{:pacientes [:paciente/historia-clinica
                              :paciente/nombre
                              :paciente/apellido
                              :paciente/dni]}]}
  {:pacientes
   (try
     (ft/with-timeout timeout
       [{:paciente/historia-clinica 3112132
         :paciente/nombre "Julian"
         :paciente/apellido "Marcano"
         :paciente/dni 231213}
        {:paciente/historia-clinica 31231
         :paciente/nombre "Maria"
         :paciente/apellido "Cantaleta"
         :paciente/dni 64654}
        {:paciente/historia-clinica 1123423
         :paciente/nombre "Jim"
         :paciente/apellido "Morrison"
         :paciente/dni 23123}])
     (catch Exception e (do (t/event! ::error-resolver-obtener-pacientes {:level :error
                                                                          :data {:datos (ex-data e)
                                                                                 :message (ex-message e)
                                                                                 :cause (ex-cause e)}})
                            {:success? false
                             :datos (ex-data e)
                             :message (ex-message e)
                             :cause (ex-cause e)
                             :fecha (tick/instant)})))})

(def pacientes-resolvers [pacientes-internados])


(comment
  
  
  
  
  :rcf)