(ns user
  {:clj-kondo/config {:linters {:unused-namespace {:level :off}}}}
  (:require [portal.api :as p]
            [donut.system.repl :as dsr] 
            [dev-repl]
            [clojure.tools.namespace.repl :as nsrepl]
            [donut.system :as ds]
            [donut.system.repl.state :as dsrs] 
            [{{top/ns}}.{{main/ns}}.back-end.service :refer [app]]
            [{{top/ns}}.{{main/ns}}.back-end.system :as system]
            [taoensso.telemere :as t])
  (:refer-clojure :exclude [test]))

(nsrepl/set-refresh-dirs "dev" "src" "test")

(def start dsr/start)
(def stop dsr/stop)
(def restart dsr/restart)

(when-not dsrs/system
  (dsr/start))

(def running-system (::ds/instances dsrs/system))

(def portal-instance (or (seq (p/sessions)) (p/open {:launcher :vs-code})))

(add-tap #'p/submit)

(comment 
  
  (start)

  (stop)
  
  (restart)
  
  (clojure.repl.deps/sync-deps)

  :dbg

  (type cuerpo)
  (slurp cuerpo)
  )