{:description "Template Replicant FullStack para el Sanatorio Colegiales"
 ;; this does not transform the data but does print a message:
 :data-fn sanatoriocolegiales.deps-new-fullstack-replicant-template/data-fn
 ;; this does not transform the EDN but does print a message:
 :template-fn sanatoriocolegiales.deps-new-fullstack-replicant-template/template-fn
 ;; this does not post-process the project but does print a message:
 :post-process-fn sanatoriocolegiales.deps-new-fullstack-replicant-template/post-process-fn
 :transform
 [["build" ""
   {"build.tmpl" "build.clj"
    "deps.tmpl"  "deps.edn"}
   :only]
  ["src" "src/{{top/file}}"
   {"core.tmpl" "{{main/file}}/back_end.clj"}]
  ["test" "test/{{top/file}}"
   {"main_test.tmpl" "{{main/file}}_test.clj"}]]}
