{:description "Template Replicant FullStack para el Sanatorio Colegiales"
 ;; this does not transform the data but does print a message:
 :data-fn sanatoriocolegiales.deps-new-fullstack-replicant-template/data-fn
 ;; this does not transform the EDN but does print a message:
 :template-fn sanatoriocolegiales.deps-new-fullstack-replicant-template/template-fn
 ;; this does not post-process the project but does print a message:
 :post-process-fn sanatoriocolegiales.deps-new-fullstack-replicant-template/post-process-fn
 :transform
 [["build" ""
   {"build.tmpl" "build.clj"
    "deps.tmpl"  "deps.edn"
    "bb.tmpl" "bb.edn"
    "packagejson.tmpl" "package.json"
    "shadowcljs.tmpl" "shadow-cljs.edn"}
   :only]
  ["src" "src/{{top/file}}"
   {"core.tmpl" "{{main/file}}/back_end/core.clj"
    "system.tmpl" "{{main/file}}/back_end/system.clj"
    "middleware.tmpl" "{{main/file}}/back_end/middleware.clj"
    "service.tmpl" "{{main/file}}/back_end/service.clj"
    "pacientes.tmpl" "{{main/file}}/back_end/modelo/pacientes.clj"
    "corecljs.tmpl" "{{main/file}}/front_end/core.cljs"
    "enrutador.tmpl" "{{main/file}}/front_end/enrutador.cljc"
    "frontpage.tmpl" "{{main/file}}/front_end/frontpage.cljc"
    "main.tmpl" "{{main/file}}/front_end/main.css"
    "db.tmpl" "{{main/file}}/front_end/db/db.cljc"
    "schema.tmpl" "{{main/file}}/front_end/db/schema.cljc"
    "store.tmpl" "{{main/file}}/front_end/db/store.cljc"}]
  ["test" "test/{{top/file}}"
   {"service_test.tmpl" "{{main/file}}/back_end/service_test.clj"
    "db_test.tmpl" "{{main/file}}/front_end/db_test.cljc"}] 
  ["portfolio" "portfolio/src"
   {"scenes.tmpl" "scenes.cljc"}]
  ["dev" "dev"
   {"dev_repl.tmpl" "dev_repl.clj"
    "dev.tmpl" "dev.cljs"
    "user.tmpl" "user.clj"}]]}
