(ns test-aceptacion-chrome
  (:require [clojure.test :refer :all]
            [etaoin.api :as e]
            [clj-test-containers.core :as tc])
  (:import [org.testcontainers Testcontainers]))

(def ^:dynamic chrome-driver nil)

(def url "http://host.testcontainers.internal:4500")

(Testcontainers/exposeHostPorts (int-array [4500]))

(defn chrome-container-fixture
  [test-fn]
  (let [chrome-container (-> (tc/create {:image-name "selenium/standalone-chrome:latest"
                                         :exposed-ports [4444]})
                             (tc/start!))]
    (with-bindings {#'chrome-driver (e/chrome-headless {:port (get (:mapped-ports chrome-container) 4444)
                                                        :host (:host chrome-container)
                                                        :args ["--no-sandbox"]})}
      (test-fn))
    (tc/stop! chrome-container)))

(use-fixtures :once chrome-container-fixture)

(deftest tests-de-aceptacion
  (testing "Al iniciar aparece tabla con pacientes" 
    (is (map? (e/go chrome-driver url)))
    (is (true? (do
                 (e/wait 3)
                 (e/exists? chrome-driver {:tag :table}))))))

(comment
  (run-test tests-de-aceptacion)

  (def chrome-container (-> (tc/create {:image-name "selenium/standalone-chrome:nightly"
                                        :exposed-ports [4444 7900]})
                            (tc/start!)))

                            
  :rcf)